<section class="button-with-arrow">
    <div class="container button-with-arrow__container">
        <a href="{{ section.button.url }}" class="button-with-arrow__btn"> {{ section.button.title }}</a>
    </div>
</section>