<section class="gallery-three-vertical-image">
<div class="container-fluid">

    <div class="gallery-three-vertical-image__container">
        <div class="gallery-three-vertical-image__image"><img src="{{ section.image_1.url }}" alt="" class="gallery-three-vertical-image__img"></div>
        <div class="gallery-three-vertical-image__image"><img src="{{ section.image_2.url }}" alt="" class="gallery-three-vertical-image__img"></div>
        <div class="gallery-three-vertical-image__image"><img src="{{ section.image_3.url }}" alt="" class="gallery-three-vertical-image__img"></div>
    </div>
</div>
</section>