<section class="gallery-two-big-image">
    <div class="container-fluid">
    <div class="gallery-two-big-image__container">
        <div class="gallery-two-big-image__image"><img src="{{ section.image_1.url }}" alt="" class="gallery-two-big-image__img"></div>
        <div class="gallery-two-big-image__image"><img src="{{ section.image_2.url }}" alt="" class="gallery-two-big-image__img"></div>
    </div>
    </div>
</section>