.gallery-two-big-image {
padding: 1.5rem 0;
&__container {
  display:flex;
  justify-content: space-between;
  @include breakpoint-down(sm){
    flex-direction: column;
  }
}
  &__image {
    flex:0 0 49%;
  }
  &__img {
    max-width:100%;
    height:auto;
  }
  //&__img {
  //  max-width:63rem;
  //  aspect-ratio: 1 / 1;
  //  object-fit: fill;
  //  @include breakpoint-down(lxg){
  //    max-width: 55rem;
  //  }
  //  @include breakpoint-down(lg){
  //    max-width: 50rem;
  //  }
  //  @include breakpoint-down(xmd){
  //    max-width: 45rem;
  //  }
  //  @include breakpoint-down(md){
  //    max-width: 35rem;
  //  }
  //  @include breakpoint-down(sm){
  //    max-width: 100%;
  //    padding-bottom: 1rem;
  //    align-self: center!important;
  //  }
  //}
}
